:root {
  --white100: #edf2f4;
  --white150: #e4eaee;
  --white200: #dbe2e8;
  --white300: #c9d1da;

  --blue100: #8d99ae;
  --blue500: #5c6378;
  --blue900: #2b2d42;

  --red300: #f13f55;
  --red500: #ef233c;
  --red600: #d90429;

  --fastTr: 0.2s ease-out;
}

*::selection {
  color: var(--white100);
  background-color: var(--red300);
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px 2px white;
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-bottom: solid 2px black;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--white100);
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-bottom: solid 2px black;
}

html,
body {
  overflow: overlay;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
