.coverGrid {
  position: absolute;
}

.form__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-right: 80px;
  flex-direction: column;
  background-image: url("../public/digitapblk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.login__form {
  display: grid;
  grid-template-columns: 80px 376px 80px 96px;
  grid-template-rows: auto 80px auto 80px auto 80px;
}

.form__label {
  display: block;
  font-family: "Inter";
  font-weight: 700;
  font-size: 72pt;
}

.form__input {
  background-color: transparent;
  border: var(--border);
  color: var(--red500);
  font-size: 50pt;
  font-family: "Noto Serif";
  font-style: italic;
}

.form__userLabel {
  grid-area: 1 / 1 / span 1 / span 3;
}

.form__userInput {
  grid-area: 2 / 2 / span 1 / span 2;
}

.form__passLabel {
  grid-area: 3 / 1 / span 1 / span 2;
}

.form__passInput {
  grid-area: 4 / 2 / span 1 / span 2;
}

.form__mailLabel {
  grid-area: 5 / 2 / span 1 / span 2;
}

.form__mailInput {
  grid-area: 6 / 2 / span 1 / span 2;
  transform: translateY(-4px);
}

.form__submit {
  grid-area: 5 / 4 / span 1 / span 1;
  background-color: var(--red500);
  border: var(--border);
  transform: translate(-2px, -2px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__submit i {
  font-size: 30pt;
}

.newLogin {
  height: 80px;
  width: 256px;
  background-color: transparent;
  color: var(--red500);
  font-family: "Inter";
  font-weight: 700;
  border: var(--border);
  transform: translate(-2px, -4px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.txt__span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "inter";
  font-weight: 700;
  font-size: 25pt;
  width: 20px;
}

.txt__spanActive {
  color: var(--red500);
  font-family: "Noto Serif";
  font-style: italic;
}

.fancyText__container {
  position: absolute;
  pointer-events: none;
  top: 0px;
  right: 40%;
  height: 100vh;
  overflow: hidden;
}

.fancyText__content {
  width: 200vh;
  transform: rotate(-90deg);
}

.fancyText__word {
  height: 40px;
  display: grid;
  grid-template-columns: 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px 15px 14px 14px 10px 16px 19px 23px;
}

.form__new {
  transform: translateY(-6px) translateX(-80px);
}
