.leftNav__body {
  font-family: "Inter";
  display: grid;
  grid-template-columns: 88px auto;
  transition: 0.5s;
  height: 100vh;
  width: 100vw;
  color: black;
  background-color: transparent;
}

.leftNav__menu {
  background-color: transparent;
  border-right: 2px solid black;
}

.digitap {
  width: 86px;
  height: 42px;

  padding: 2px;
  padding-bottom: 4px;

  font-size: 15pt;
  color: black;
  font-weight: 600;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}

.leftNav__item {
  transition: 0.5s ease-in-out;
  border-bottom: 2px solid black;
}

.active .icon__img {
  filter: invert(1);
  background-color: transparent;
}

.active .icon__bg {
  background-color: var(--red500);
}

.icon__container {
  height: 86px;
  background-color: transparent;
  transition: var(--fastTr);
  display: grid;
  grid-template-columns: 86px 0px 86px;
}

.icon__img {
  background-color: transparent;
  height: 86px;
  width: 86px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.icon__slideContainer {
  transition: var(--fastTr);
  width: 0px;
  height: 86px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% auto;
  background-color: var(--red500);
  color: var(--white100);
  padding-top: 4px;
  font-size: 72px;
  font-weight: 600;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  display: inline;
}
/* HIER EPISCHE SLIDING TEXT */

@keyframes preSlide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-370%);
  }
}

@keyframes postSlide {
  0% {
    transform: translateX(370%) translateY(-100%);
  }
  100% {
    transform: translateX(0%) translateY(-100%);
  }
}

.icon__slideText1 {
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-name: preSlide;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.icon__slideText2 {
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-name: postSlide;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.icon__title {
  color: transparent;
}

.icon__container:hover {
  transform: translateX(-86px);
}

.icon__container:hover .icon__slideContainer {
  width: 86px;
}

.fillEnd {
  margin: 2px 0px;
  /* volledig scherm - 5 buttons - digitap en border*/
  height: calc(100vh - 5 * 88px - 46px);
  background-color: transparent;
}

.leftNav__collapse {
  background-color: var(--white100);
  height: 86px;
}

.collapse__spacer {
  display: none;
}

.collapse__container {
  width: 100%;
  height: 100%;
}

.collapse__img {
  width: 100%;
  height: 100%;
  background: url("../public/collapse.svg");
  filter: invert(0);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
  transition: 0.5s;
}
