.midNav__container {
  background-color: transparent;
  color: black;
}

.midNav__content {
  overflow-y: auto;
  border-right: var(--border);
}

.md18 {
  font-size: 18px;
}
.md24 {
  font-size: 24px;
}
.md32 {
  font-size: 32px;
}

.midBody {
  display: grid;
  grid-template-columns: 254px auto;
  height: 100vh;
}

.midNav__title {
  margin-top: 44px;
  height: 86px;
  border-bottom: var(--border);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  font-size: 32pt;
  font-weight: 700;
}

.vakken__general {
  display: grid;
  grid-auto-rows: 44px;
  background-color: transparent;
}

.vakken__subtitle {
  background-color: transparent;
  display: grid;
  transition: var(--fastTr);
  font-weight: 700;
  font-style: italic;
  color: var(--red500);
  padding-left: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Noto serif";
}

.vakken__item {
  background-color: transparent;
  display: grid;
  grid-template-columns: 40px auto 40px;
  transition: var(--fastTr);
  border-bottom: var(--border);
}

.vakken__item.admin__item {
  grid-template-columns: 40px auto;
}

.vakken__item i,
.input__container i {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vakken__item span,
.vakken__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-left: 8px;
  font-weight: 500;
}

.vakken__No,
.vakken__notificationCounter,
.vakken__deadlineCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--fastTr);

  font-weight: 700;
}

.midNav__classes {
  display: grid;
  grid-auto-rows: 44px;
  background-color: transparent;
}

.vakken__vak {
  background-color: transparent;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: auto auto 42px 42px;
  transition: var(--fastTr);
  border-bottom: var(--border);
  font-family: "Noto serif";
  font-style: italic;
}

.vakken__vak * {
  pointer-events: none;
}

.vakken__vak span {
  font-weight: 600;
}

.input__container {
  display: grid;
  grid-template-columns: 42px auto;
  border-bottom: var(--border);
}

.vakken__input {
  width: 100%;
  height: 42px;
  background-color: var(--white100);
  border: none;
  padding-left: 11px;
  color: var(--red500);
  font-weight: 700;
  border-radius: 0px;
}

.vakken__title {
  padding-left: 48px;
}

.vakken__active {
  background-color: var(--red500);
  color: var(--white100);
  font-family: "Noto serif";
  font-weight: 900;
  font-style: italic;
}

.vakken__active i {
  transform: scale(1.05);
}

.vakken__active .vakken__No {
  opacity: 0;
}

.vakken__active .vakken__title {
  font-weight: 600;
}

.vakken__active .vakken__notificationCounter,
.vakken__active .vakken__deadlineCounter {
  color: transparent;
}
