.rooster__block {
  display: grid;
  transform: translateY(-9px);
}

.item__time_start {
  font-size: 8pt;
  color: var(--red500);
  font-weight: 700;
}

.item__time_end {
  font-size: 8pt;
  color: var(--red500);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item__info {
  border: 2px black solid;
  border-left: none;
  border-right: none;
  padding: 2px;
  transition: var(--fastTr);
}

.item__info:hover {
  background-color: var(--red500);
  color: var(--white100);
  padding-left: 4px;
}

.item__vakTitle {
  font-weight: 900;
  font-family: "Noto serif";
  font-style: italic;
}

.item__location {
  font-weight: 300;
}

.item__ongoingClass .item__info {
  background-image: url("../public/LIVE.svg");
  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 15%;
}

.item__ongoingClass .week__info {
  background-image: url("../public/LIVE.svg");
  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 30%;
}

.item__ongoingClass .item__time_start,
.item__ongoingClass .item__time_end {
  color: black;
}

.week__block {
  border: 2px solid black;
  padding: 2px;
  border-left: none;
  border-right: none;
  width: 100%;
  margin-top: 2px;
  display: grid;
}

.week__block:hover {
  background-color: var(--red500);
  color: var(--white100);
  padding-left: 4px;
  overflow: hidden;
}

.week__block:hover p {
  color: var(--white100);
}

.week__title {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 700;
}

.week__location {
  font-size: 10pt;
  color: var(--red500);
}

.week__info {
  grid-area: 1 / 1 / span 1 / span 1;
}

.week__time {
  grid-area: 1 / 1 / span 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 8pt;
  color: var(--red500);
  font-weight: 700;
  padding-right: 2px;
}
