.rooster__block {
  display: grid;
  transform: translateY(-9px);
}

.item__time_start {
  font-size: 8pt;
  color: var(--red500);
  font-weight: 700;
}

.item__time_end {
  font-size: 8pt;
  color: var(--red500);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item__info {
  border: 2px black solid;
  padding: 2px;
}

.item__vakTitle {
  font-weight: 900;
  font-family: "Noto serif";
  font-style: italic;
}

.item__location {
  font-weight: 300;
}

.item__ongoingClass .item__info {
  background-color: var(--red500);
  color: var(--white100);
}

.item__ongoingClass .item__time_start,
.item__ongoingClass .item__time_end {
  color: black;
}
