.rooster__header {
  height: 130px;
  border-bottom: 2px solid black;
  display: grid;
  grid-template-rows: 86px;
}

.header__year {
  margin-left: 21px;
  font-size: 88pt;
  font-family: "Noto serif";
  font-style: italic;
  color: transparent;
  grid-area: 1 /1 / span 1 / span 1;
  opacity: 0.8;
  text-align: left;
  -webkit-text-stroke: 1px var(--red500);
}

.header__title {
  height: 86px;
  padding-top: 64px;
  margin-left: 21px;
  font-size: 32pt;
  font-weight: 700;
  padding-left: 8px;
  grid-area: 1 /1 / span 1 / span 1;
  z-index: 2;
}

.weekday__numDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  font-weight: 700;
}

.weekday__numDate h3 {
  font-weight: 400;
}

.weekday__active * {
  color: var(--red500);
}

.weekday__numDate * {
  display: inline;
  text-transform: uppercase;
}

.weekGrid__container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 172px calc(100vh - 302px);
}

.weekday__container {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  grid-area: auto/auto/span 2 / span 1;
}

.weekday__container:first-of-type {
  border-left: none;
}

.weekday__container:nth-of-type(6) {
  grid-area: 1/6 / span 1 / span 1;
}

.weekday__container:nth-of-type(7) {
  grid-area: 2/6 / span 1 / span 1;
}

.monthView__container {
  display: flex;
  flex-direction: row;
}

.sider {
  width: 130px;
  border-right: 2px solid black;
  display: grid;
  grid-template-columns: 128px;
  grid-template-rows: 42px auto 128px;
}

.acYear {
  background-color: var(--red500);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}

.acYear__date {
  font-family: "Noto Serif";
  color: var(--white150);
  font-weight: 700;
  font-style: italic;
  font-size: 14pt;
}

.sider__month {
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sider__monthText {
  writing-mode: vertical-lr;
  font-weight: 700;
  font-size: 48pt;
  transform: scale(-1);
}

.tinyCal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  padding: 4px;
}

.tinyCal__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tinyCal__item div {
  border: 1.5px solid black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.tinyCal__active div {
  border: none;
  background-color: var(--red500);
}

.month__grid {
  width: calc(100% - 86px);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

.month__itemActive {
  color: var(--red500);
}

.month__item {
  padding: 4px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.month__dayCol {
  padding: 4px;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  border-right: 2px solid black;
}

.rooster__lesItem {
  border-left: 2px solid var(--black);
  color: black;
  width: fit-content;
  font-size: 9pt;
  font-weight: 700;
  padding: 2px 1px;
  padding-right: 4px;
  padding-left: 2px;
  margin-bottom: 2px;
}

.rooster__ddlItem {
  border-left: 2px solid var(--red500);
  color: black;
  width: fit-content;
  font-size: 9pt;
  font-weight: 700;
  padding: 2px 1px;
  padding-right: 4px;
  padding-left: 2px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.modal__clickCover {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0vw;
  left: 0vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 470px;
}

.modal__off {
  display: none;
}

.modal__on {
  display: block;
}

.modal__on .modal .modal__main {
  animation: modalGrow 0.1s 1 linear both;
}

@keyframes modalGrow {
  0% {
    width: 0px;
  }
  100% {
    width: 500px;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 500px;
  overflow: hidden;
}

.modal__main {
  width: auto;
  border: var(--border);
  height: calc(100vh - 168px);
  background-color: var(--white100);
  transition: var(--fastTr);
}

.modal__date {
  font-weight: 700;
  font-size: 18pt;
}

.modal__title {
  padding: 8px;
  border-bottom: var(--border);
}

.modal__close {
  width: 40px;
  height: 40px;
  border: var(--border);
  align-self: flex-end;
  background-color: var(--red500);
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white100);
  font-family: "Noto Serif";
  font-style: italic;
}

.modal__list {
  padding: 4px 0px;
}

.modal__subtitle {
  font-size: 16pt;
  padding: 4px;
  font-family: "Noto Serif";
  color: var(--red500);
  font-style: italic;
  margin: 8px 0px;
}

.modal__les {
  display: inline;
  border: var(--border);
  border-left: none;
  padding: 2px 8px;
  font-size: 12pt;
  font-weight: 700;
  height: 40px;
}

.modal__les:last-child {
  border-right: var(--border);
}

.modal__hour {
  font-size: 10pt;
  color: var(--red500);
}

.modal__geenLes {
  padding-left: 8px;
}

.modal__ddl {
  height: 40px;
  border: var(--border);
  border-left: none;
  border-right: none;
  display: grid;
  grid-template-columns: 80px auto 80px 40px;
}

.modal__ddlVak {
  height: 100%;
  font-weight: 700;
  border-right: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__ddlName {
  border-right: var(--border);
  display: flex;
  align-items: center;
  padding-left: 8px;
  justify-content: flex-start;
}

.modal__ddlTime {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red500);
}

.modal__ddlButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: var(--border);
}
